@import "tailwindcss";

@theme {
    --color-Primary: #F1592A;
    --color-Secondary: #FFFFFF;
    --color-text-Primary: #303030;
    --color-text-Secondary: #FFFFFF;
    --color-Card-Background: #F5F5F5;
    --color-Card-Foreground: #D9D9D9;
}